@{meta('File upload')}

<ui-component name="layout2" path="null" config="parent:window" class="invisible">
	<div data-type="top" data-size="44">
	</div>
	<div data-type="left" data-size="30%,30%,30%,0">
	</div>
	<div data-type="right" data-size="30%,30%,30%,0">
	</div>
	<div data-type="main" data-scrollbar="visible:true" style="background-color:#ffff">
		<div class="grid-1">
			<form style="border: 1px solid #404040; border-radius: 8px; padding:8px;" method="POST" enctype="multipart/form-data" action="/extract">
				<div style="background-color:#F0F0F0;padding:3px 10px; text-align:center;">
					 <b style="color:black">Upload pdf file</b>
				</div>
				<br />
				<input style="width:100%;padding:8px 12px; text-decoration: none;border:none;border-radius:5px;" type="file" name="File" />
				<button style="width:100%;padding:8px 12px;background-color:#4585f4;color:#ffff; text-decoration: none;border:none;border-radius:5px;">SUBMIT</button>
			</form>
		</div>
		<br>
	</div>
</ui-component>

</script>
