@{meta('File upload')}

<ui-component name="layout2" path="null" config="parent:window" class="invisible">
	<div data-type="top" data-size="44">
	</div>
	<div data-type="left" data-size="30%,30%,30%,0">
	</div>
	<div data-type="right" data-size="30%,30%,30%,0">
	</div>
	<div data-type="main" data-scrollbar="visible:true" style="background-color:#ffff">
		<div class="grid-1">
			<ui-component name="button" path="null" config="exec:upload;icon:ti-cloud-upload" class="hidden">Upload</ui-component>
		</div>
		<br>
	</div>
</ui-component>

<script>
    
	function download(stream) {
		
			var URL = window.URL || window.webkitURL;
			
            var downloadUrl = URL.createObjectURL(new Blob([stream], ) );
			var filename = GUID(25) + '.tar.gz';
            if (filename) {
                // use HTML5 a[download] attribute to specify filename
                var a = document.createElement("a");
                // safari doesn't support this yet
                if (typeof a.download === 'undefined') {
                    window.location.href = downloadUrl;
                } else {
                    a.href = downloadUrl;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                }
            } else
                window.location.href = downloadUrl;
            
		
	}


	function upload() {

		var opt = {};
		opt.url = '/extract/';
		opt.callback = function(response) {
			// console.log(response);
			download(response);
		};


		SETTER('upload', 'show', opt);
	}
</script>
